body {
            
    flex-direction: column;
    min-height: 100vh;
  }
  div.pictures {
    display:inline-block;
  }
  h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
  }
  h2 {
    color: #d1633c;
    font-size: 1em;
  }
  .footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .footer-text{
    text-align: center;
    background-color: #f6f9fa;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
  }
  footer.footer-head {
    width: 100%;
  }
  
  .footer-symbol {
    padding: 2rem 3rem;
    background-color: #f6f9fa;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
  /* Add a black background color to the top navigation */
nav {
background-color: #970505;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
nav ul li a {
background-color: #909290;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
border: 1px solid;
border-radius: .5em;
padding: .5em, 1em;
margin: .5em;
}

/* Change the color of links on hover */
nav ul li a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
nav ul li a.active {
background-color: #585a59;
color: rgb(0, 0, 0);
}
.video{
  display: inline-flex;
}
#how-to{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
.global-setup{
  background: #F6F3ED;
  margin: 10px;
  padding: 20px;
  border: 1px dotted #970505;
  width: 240px;
}

.normal{
  width: 900px;
}

.p-video{
  background: #f2f5d5;
  width: 600px;
  height: 200px;
  padding: 20px;
  border: 5px solid gray;
  margin: 20px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}